/calendar_parser.py
/catalog_content
/catalog_fiu_crawl_output.md
/catalog_only
/Cleaned_FIU_OneStop_Knowledge_Base.csv
/Crawl1.py
/crawl_output.md
/FIU_Light_Q&A.csv
/fiu_onestop_data.json
/FIU_OneStop_Light_QA.csv
/FIU_OneStop_Q_A_Knowledge_Base.csv
/mardown_athletics.md
/markdown_catalog_fiu_edu(depth2).md
/markdown_sas_fiu_edu(depth1).md
/onestop.py
/onestop_content
/Q&A.py
/Q&A2.py
/sum2.py